.doc-module code {
    white-space: nowrap;
  }
.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2;
  padding-bottom: 2;
}
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2.0rem;
  width: 2.0rem;
}
