name: Deploy Docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install MkDocs Mike and theme
        run: pip install -r docs/requirements.txt

      - name: Deploy to GitHub Pages
        run: git fetch --all --tags  && git pull && mike deploy --push --update-aliases ${{ secrets.DOCS_VERSION }} latest --ignore-remote-status && mike set-default ${{ secrets.DOCS_VERSION }}
