name: Deploy Docs

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install MkDocs and theme
        run: pip install -r docs/requirements.txt

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy