name: Delete PyPI Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'PyPI version to delete (es. 1.0.0)'
        required: true
        type: string

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - name: Delete PyPI Version
        env:
          PYPI_USERNAME: __token__
          PYPI_PASSWORD: ${{ secrets.FLIT_PASSWORD }}
        run: |
          curl \
            -u "$PYPI_USERNAME:$PYPI_PASSWORD" \
            --form ":action=remove_pkg" \
            --form "name=<IL_TUO_PACKAGE_NAME>" \
            --form "version=${{ github.event.inputs.version }}" \
            https://upload.pypi.org/legacy/
